body {
    font-family: Arial, sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('infloing1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

@media only screen and (max-width: 1300px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-image: url('infloing1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}


.search-container {
    display: grid;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements */
    max-width: 800px; /* Set a maximum width for the container if needed */
    transform: translateY(-15%);
}

input {
    padding: 10px;
    font-size: 14px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(119, 119, 119); 
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid aliceblue; 
    border-radius: 100%;
}