body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('last_bg_PC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

@media only screen and (max-width: 1300px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-image: url('last_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

#emailForm {
    display: grid;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto; /* Center the grid horizontally */
    place-items: center; /* Center the items both horizontally and vertically */
    margin-top: 25%;
}

input[type="email"] {
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 15px;
}